# {{ ansible_managed }}. role: syncthing, file: apt.references.j2
# lower the syncthing Debian packages in order to use syncthing's packages
Package: syncthing
Pin: release o=Debian
Pin-Priority: 100
